.heading-1 {
   font-family: 'Ubuntu', sans-serif;
   font-size: 40px;
   font-weight: bold;
}
/* .heading-2 {
   font-family: 'Ubuntu', sans-serif;
   font-size: 36px;
   font-weight: 500;
}
.heading-3 {
   font-family: 'Ubuntu', sans-serif;
   font-size: 20px;
   font-weight: bold;
} */

.navbar-brand {
   font-family: 'Ubuntu', sans-serif;
}
.fc-black {
   color: #29282B;
}
.fc-white {
   color: #fff;
}
.body-1 {
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
}
.body-2 {
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   line-height: 170%;
   opacity: 80%;
   letter-spacing: 0.1px;
}

.tab {
   text-indent: 2em;
}

.btn {
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
   font-size: 14px;
   text-decoration: none;
}
.hero {
   padding-top: 90px;
}

.hero-headline {
   padding-top: 85px;
}




.social {
   color: #0d6efd;
}
.social .btn {
   padding: 0;
}

.square {
   background-color: #0d6efd;
   padding: 5px 10px;
   margin-right: 20px;
   display: inline-block;
}

.projects {
   margin-top: 120px;
   margin-bottom: 120px;
}
.title {
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
   font-size: 14px;
}

.social-footer {
   padding: 0;
}

@media only screen and (max-width: 950px) {
   .img-fluid {
      margin-top: 80px;
   }
   .hero {
      padding-top: 60px;
   }
   .hero-headline {
      padding-top: 30px;
   }
 }

@media only screen and (max-width: 768px) {
   .heading-1 {
      font-size: 34px;
   }
   .body-2 {
      font-size: 14px;
   }
   .hero {
      padding-top: 20px;
   }
   .hero-headline {
      padding-top: 20px;
   }
  
   .project {
      margin-top: 20px;
   }
 }

@media only screen and (max-width: 576px) {
  
   .heading-1 {
      font-size: 30px;
   }
   .body-2 {
      font-size: 14px;
   }
   
 }