body {
   background-color: #0F172A;
}

.heading-1 {
   font-family: 'Inter', sans-serif;
   font-size: 36px;
   font-weight: 700;
   color: #D1DAED;
}
.heading-2 {
   font-family: 'Inter', sans-serif;
   font-size: 24px;
   font-weight: 100;
   color: #5DE7D2;
}
.heading-3 {
   font-family: 'Inter', sans-serif;
   font-size: 20px;
   font-weight: 600;
   color: #D1DAED;
}

.title {
   font-family: 'Inter', sans-serif;
   font-size: 18px;
   font-weight: 600;
   color: #D1DAED;
}

.text {
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   font-weight: 500;
   color: #838C9F;
}

.bold {
   font-weight: 600;
   color: #D1DAED;
}

.btn-outline-primary {
   font-family: 'Open Sans', sans-serif;
   font-size: 12px;
   padding: 10px 20px;
   color: #5DE7D2;
   border-color: #5DE7D2;
}
.btn-outline-primary:hover {
   color: #5DE7D2;
   border-color: #5DE7D2;
   background-color: #122C40;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fixed-col {
   position: sticky;
   top: 0;
   height: 100vh;
   overflow-y: auto;
}
.main-content {
   margin-top: 20%;
 }

.contact {
   margin-top: 50%;
 }
 .contact a {
   margin-right: 15px;
 }
 .contact span {
   font-size: 32px;
   color: #D1DAED;
 } 
 
.box {
   padding-left: 100px;
   margin-top: 10%;
   margin-bottom: 10%;
}

.projects {
   margin-top: 80px;
}

.button-project {
   padding: 20px 0;
} 

.button-project:hover {
   padding: 20px 30px;
   background-color: #1B2335;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   cursor: pointer;
}

.button-tag {
   display: inline-block;
   font-family: 'Open Sans', sans-serif;
   font-size: 12px;
   font-weight: 600;
   background-color: #122C40;
   color: #5DE7D2;
   padding: 5px 10px;
   border-radius: 12px;
}


@media (max-width: 990px) {
   .heading-1 {
      font-size: 24px;
   }
   .heading-2 {
      font-size: 18px;
   }
   .heading-3 {
      font-size: 16px;
   }
   .title {
      font-size: 16px;
   }
   .text {
      font-size: 14px;
   }
   .btn-outline-primary {
      font-size: 12px;
      display: block;
      margin-right: 0 !important;
      margin-bottom: 5px;
   }

   .box {
      padding-left: 50px;
   }
   .projects {
      margin-top: 50px;
   }
}

@media (max-width: 768px) {
   .contact {
      margin-top: 10%;
   }
   .fixed-col {
      position: relative;
      height: auto;
   }
   .box {
      padding-left: 10px;
   }
   .projects {
      margin-top: 40px;
   }

}

 

 
 