body {
   background-color: rgb(248, 249, 250);
}

.highlight {
   color: #FFBE00;
}

.nav-link {
   font-family: 'Work Sans', sans-serif;
   font-weight: 600;
   color: #777777;
   padding: 8px 20px !important;
}

.hero {
   height: 100vh;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.heading-hero {
   font-family: 'Work Sans', sans-serif;
   font-size: 5rem;
   font-weight: 500;
   color: #777;
   opacity: 0;
   transform: translateX(-100px);
   animation: slideIn 1.5s ease forwards;

}

@keyframes slideIn {
   to {
      opacity: 1;
      /* Berakhir dengan opasitas 1 */
      transform: translateY(0);
      /* Muncul ke posisi normal */
   }
}

.heading-hero .bold {
   font-weight: 700;
   color: #777;
}

.to-bold {
   animation: toBold 2s ease forwards;
}

@keyframes toBold {
   to {
      color: #222;
   }
}

.hero-button {
   opacity: 0;
   transform: translateY(20px);
   animation: fadeIn 1.5s ease forwards 0.5s;
}

@keyframes fadeIn {
   to {
      opacity: 1;
      transform: translateY(0);
   }
}

.btn-link {
   font-family: 'Work Sans', sans-serif;
   font-size: 1.5rem;
   color: #222;
   text-decoration: none;
   padding: 0;
   position: relative;
}

.btn-link:hover {
   color: #222;

}

.btn-link:active {
   color: #222 !important;
}


.btn-link::after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 10%;
   width: 80%;
   height: 2px;
   background-color: #222;
   transform: scaleX(0);
   transition: transform 0.3s ease;
   transform-origin: left;
}

.btn-link:hover::after {
   transform: scaleX(1);
}



.about {
   margin-top: 90px;
   min-height: 300px;
   display: flex;
   flex-direction: column;
   opacity: 0;
   transform: translateY(100px);
   transition: opacity 1s ease, transform 1s ease;
}

.about.animate {
   opacity: 1;
   transform: translateY(0);
}

.about-image-container {
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.about-image {
   height: 100%;
   width: auto;
   max-width: 100%;
   object-fit: cover;
}

.title {
   font-family: 'Work Sans', sans-serif;
   font-size: 1.5rem;
   font-weight: 500;
   color: #333;
}

.line {
   border-bottom: 2px solid #777;
}

.desc {
   font-family: 'Open sans', sans-serif;
   font-size: 1rem;
   font-weight: 400;
   color: #777;
   line-height: 160%;
}

.small {
   font-family: 'Work Sans', sans-serif;
   font-size: 0.8rem;
   font-weight: 400;
   color: #777;
   margin: 6px 0;
}

.title-ex {
   font-family: 'Work Sans', sans-serif;
   font-size: 1.2rem;
   font-weight: 700;
   color: #222;
}

.desc-ex {
   font-family: 'Open sans', sans-serif;
   font-size: 0.9rem;
   font-weight: 400;
   color: #777;
}

.desc-ex.show {
   display: block;
   font-family: 'Open sans', sans-serif;
   font-size: 1rem;
   font-weight: 400;
   color: #777;
}


.experience {
   margin-top: 120px;
   min-height: 200px;
   display: flex;
   flex-direction: column;
   opacity: 0;
   transform: translateY(100px);
   transition: opacity 1s ease, transform 1s ease;
}

.experience.animate {
   opacity: 1;
   transform: translateY(0);
}


.projects {
   margin-top: 120px;
   min-height: 500px;
   display: flex;
   flex-direction: column;
   opacity: 0;
   transform: translateY(100px);
   transition: opacity 1s ease, transform 1s ease;
}

.projects.animate {
   opacity: 1;
   transform: translateY(0);
}

.line {
   border-bottom: 2px solid #777;
}

.footer {
   margin-top: 120px;
   margin-bottom: 30px;
}

.copy-right {
   font-family: 'Work Sans', sans-serif;
   font-size: 3.5rem;
   font-weight: 700;
   color: #222;
}

.social .btn-link {
   font-family: 'Work Sans', sans-serif;
   font-size: 1rem;
   color: #222;
   text-decoration: none;
   padding: 0;
}


.experience .btn-link {
   padding: 0;
   border: none;
   font-family: 'Work Sans', sans-serif;
   font-size: 0.9rem;
   font-weight: 500;
   color: #222;
}



.card-exp {
   border: 2px solid #777;
   background-color: transparent;
   min-height: 400px;
}

.btn-project {
   font-family: 'Work Sans', sans-serif;
   font-size: 1rem;
   color: #777;
   padding: 0;
   border: none;
}




.tag {
   border: 1px solid #777;
   border-radius: 16px;
   padding: 4px 8px;
   margin-right: 3px;
   font-family: 'Work Sans', sans-serif;
   font-size: 0.8rem;
   font-weight: 400;
   color: #777;
}


@media only screen and (max-width: 1199px) {

   .heading-hero {
      font-size: 4rem;
   }
}

@media only screen and (max-width: 991px) {

   .heading-hero {
      font-size: 3rem;
   }

   .btn-link {
      font-size: 1.2rem;
   }

   .about {
      opacity: 1;
      transform: translateY(0) translateY(0);
   }

   .experience {
      opacity: 1;
      transform: translateY(0) translateY(0);
   }

   .projects {
      opacity: 1;
      transform: translateY(0) translateY(0);
   }

   .copy-right {
      font-size: 2.5rem;
   }
}

@media only screen and (max-width: 767px) {
   .hero {
      height: 300px;
   }

   .heading-hero {
      font-size: 2rem;
   }

   .btn-link {
      font-size: 0.8rem;
   }

   .about {
      margin-top: 30px;
   }

   .desc {
      font-size: 0.8rem;
   }

   .experience {
      margin-top: 30px;
   }

   .desc-ex {
      font-size: 0.8rem !important;
   }

   .projects {
      margin-top: 30px;
   }

   .card-title {
      font-size: 1.2rem;
   }

   .card-text {
      font-size: 0.8rem;
   }

   .tag {
      font-size: 0.6rem;
   }

   .card-exp {
      min-height: 250px;
   }

   .copy-right {

      font-size: 1.5rem;

   }
}